#intro-section
  background: #f8de2e url('../images/background-intro.jpg') 0 0 no-repeat
  height: 768px
  .intro-section__title
    height: 400px
    margin: 101px 0 54px 0
    font-family: $pf-ultra-black
    font-size: 130px
    font-size: 13rem
    line-height: 100px
    text-transform: uppercase
    color: #111

    .thin-text
      font-family: $pf-extra-thin
    .block-word
      display: block
      opacity: 0
      -webkit-transition: -webkit-transform .7s ease, opacity .7s ease
      -moz-transition: -moz-transform .7s ease, opacity .7s ease
      -ms-transition: -ms-transform .7s ease, opacity .7s ease
      -o-transition: -o-transform .7s ease, opacity .7s ease
      transition: transform .7s ease, opacity .7s ease
      // after end of animation
      &.active
        opacity: 1
        @include transform(translate(0,0))
    .second-part-word
      letter-spacing: 3.5px

    // @todo: refactor
    .last-line
      width: 185px
      float: left
    .last-letter
      margin: 0 0 0 18px

    .intro-section__title__date
      float: left
      margin: 28px 0 0 16px
      font-family: $pf-extra-thin
      font-size: 40px
      font-size: 4rem
      text-transform: lowercase
      color: $it_black
      opacity: 0
      @include transform(translate(80px, 80px))
      @include transition-delay(1.6s)

    .block-word--it
      @include transform(translateY(-100px))
      @include transition-delay(0s)

    .block-word--confe
      @include transform(translateX(-200px))
      @include transition-delay(0.4s)

    .block-word--rence
      @include transform(translateX(200px))
      @include transition-delay(0.8s)

    .block-word--last
      @include transform(translateY(50px))
      @include transition-delay(1.2s)

  .intro-section__quote
    font-family: $pf-light
    display: block
    margin: 65px 0 0 0
    font-size: 14px
    font-size: 1.4rem
    color: #7B6C03



