#who-section
  background: #f8de2e url('../images/background-for-who.jpg') 0 0 no-repeat
  width: 100%
  height: 768px
  @include container()
  @include cf()

  .who-section__title
    margin: 81px 0 0 0
