// bower:sass
// endbower

@import 'mixins'
@import 'reset'
@import 'helper'
@import 'fonts'

// @todo: implement fallbacks for ie6-7
*,
*::after,
*::before
  @include box-sizing

html
  font-size: 62.5%

body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: #333

img
  max-width: 100%

//.browserupgrade
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

.wrapper
  position: relative
  max-width: 1366px
  margin: 0 auto
  overflow: hidden

// buy ticket button styles
.buy-ticket-btn
  z-index: 0
  position: relative
  font-family: $pf-ultra-black
  background: none
  border: 6px solid #111
  font-size: 16px
  font-size: 1.6rem
  text-transform: uppercase
  text-align: center
  overflow: hidden
  display: block
  text-decoration: none
  @include cf()
  .btn-text
    z-index: 1
    display: block
    @include transition(color)
  &::before
    content: ''
    position: absolute
    z-index: -1
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    background-color: #111
    opacity: 0
    -webkit-transition: transform .2s ease, opacity .2s ease
    -moz-transition: transform .2s ease, opacity .2s ease
    -ms-transition: transform .2s ease, opacity .2s ease
    -o-transition: transform .2s ease, opacity .2s ease
    transition: transform .2s ease, opacity .2s ease
    -webkit-transform: translate(-110%, 0) skewX(45deg)
    -moz-transform: translate(-110%, 0) skewX(45deg)
    -ms-transform: translate(-110%, 0) skewX(45deg)
    -o-transform: translate(-110%, 0) skewX(45deg)
    transform: translate(-110%, 0) skewX(45deg)
    @include visibility-hidden()

  &.buy-ticket-btn--intro
    width: 474px
    height: 70px
    .btn-text
      color: #111

  &.buy-ticket-btn--menu
    width: 171px
    float: right
    height: 39px
    //margin: 0 24px 0 0
    margin: 0 12px 0 0
    border: 4px solid $it_yellow
    font-family: $pf-black
    font-size: 13px
    font-size: 1.3rem
    line-height: 33px
    .btn-text
      //color: #fff
      color: $it_yellow
    &::before
      background-color: $it_yellow

  &:hover
    cursor: pointer
    .btn-text
      color: #fff
    &::before
      opacity: 1
      -webkit-transform: translate(0, 0) skewX(45deg)
      -moz-transform: translate(0, 0) skewX(45deg)
      -ms-transform: translate(0, 0) skewX(45deg)
      -o-transform: translate(0, 0) skewX(45deg)
      transform: translate(0, 0) skewX(45deg)

  &.buy-ticket-btn--menu:hover
    .btn-text
      color: $it_black


// section titles styles
.section
  width: 100%
  //height: 768px
  min-height: 768px
  @include container()
  @include cf()
  @include background-cover()
  &.section--gray
    background-color: #E9E9E9

.section-title
  color: $it_black
  font-size: 48px
  font-size: 4.8rem
  text-transform: uppercase
  font-family: $pf-ultra-black

// list styles
.custom-list
  display: block
  padding: 0 0 0 0
  margin: 0
  .custom-list__item
    position: relative
    padding: 0 0 0 20px
    margin: 0 0 19px 0
    @include cf()
    &::before
      content: '•'
      position: absolute
      top: 2px
      left: 0
      //display: block
      color: #F8DE2E

// section with tabs
.section-tab-container
  float: right
  //width: 75%

.section-tabs
  display: block
  float: left
  //width: 25%
  width: 17.105263157%
  .section-tab
    display: block
    width: 195px
    //width: 17.105263157%
    height: 72px
    padding: 39px 0 18px 0
    text-transform: uppercase
    text-decoration: none
    border-bottom: 5px solid $it_black
    overflow: hidden
    color: $it_black
    .tab-block
      display: block
      -webkit-transition: -webkit-transform .2s ease
      -moz-transition: -moz-transform .2s ease
      -ms-transition: -ms-transform .2s ease
      -o-transition: -o-transform .2s ease
      transition: transform .2s ease
      .text
        display: block
        font-family: $pf-bold
        font-size: 14px
        font-size: 1.4rem
    &:hover, &.active
      background-color: $it_black
      color: #fff
      .tab-block
        @include transform(translateX(9px))


// sections styles
@import 'intro-section'
@import 'menu'
@import 'navigation'
@import 'novelty-section'
@import 'who-section'
@import 'speakers-section'
@import 'program-section'
@import 'prices-section'
@import 'video-section'
@import 'partners-section'
@import 'footer'

// breakpoints
@import 'responsive/media_1200'
@import 'responsive/media_991'
@import 'responsive/media_768'
@import 'responsive/media_640'
